*
!.gitignore
!*/
!**/*.c
!**/*.v
!**/*.sv
!**/*.py
!**/*sim_full_mandelbrot.tcl
!**/*.png
!**/*.ppm
!**/*.md
!**/*.zip
!**/*.cpp
!**/*.sh
!**/*.ps1

!/DE1-SoC_Computer_15_audio_only/**